body{
    margin: 0;
    
}

main {
    display: block;
}

li {
    list-style: none;
    border-style: solid;
    display: inline-block;
   
}

aside, main, header {
    border-style: solid;
    border-width: 1px;    
    display: inline-block;
}

.juan, .miriam, .perico, .miranda, .paola {border-style: solid;
}